<div class="photo">
  <div class="photo_preview">
    <div  *ngFor="let photo of photos" class="img-wrapper" (mouseenter)=select(photo) >
    <img src="{{photo.preview}}">
    </div>
  </div>
    <div (click)=check(); class="photo_big">
      <div [ngStyle]="Lens" #lens (mousemove)="moveLens($event)" class="lens"></div>
      <img #photo src="{{selected.big}}" (mouseenter)=zoomInit(); alt="big">
    </div>
  <div #zoom class="photo_info">
    <p>bla - bla - bla</p>
    <p>bla - bla - bla</p>
    <p>bla - bla - bla</p>
    <p>bla - bla - bla</p>
    <p>bla - bla - bla</p>
  <div *ngIf='Zoom.on' [ngStyle]="Zoom" class="photo_zoom"></div>
  </div>
</div>

