.photo
  width: 70%
  margin: 10% auto
  border: 1px solid black
  &_preview
    width: 7%
    .img-wrapper
      padding: 5px
      border: 1px solid black
      img
        display: block
        margin: 0 auto
