<div class="photo">
  <div class="photo_big" [@cardAnimator]="animationState" (@cardAnimator.done)="resetAnimationState()" (swipeleft)="startAnimation('slideOutLeft')"
       (swiperight)="startAnimation('zoomOutRight')" (swipeup)="startAnimation('rotateOutUpRight')" (swipedown)="startAnimation('flipOutY')" >
    <img draggable="false"  src="{{ selected.big }}" alt="">
  </div>
  <div class="slider">
    <div *ngFor="let photo of photos" class="slider__dots" [ngClass]="{'active': photo.id===selected.id}"></div>
  </div>
</div>
