.photo
  width: 70%
  margin: 10% auto
  border: 1px solid black
  display: flex
  justify-content: space-around
  position: relative
  &_big
    margin: 0 auto
    width: 50%
    img
      display: block
      margin: 0 auto
  .slider
    display: flex
    justify-self: center
    align-items: center
    margin-right: 5rem
    &__dots
      width: 10px
      height: 10px
      border: 1px solid black
      border-radius: 50%
      background: black
      margin: 1rem
      &.active
        width: 15px
        height: 15px


